.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: white;
	overflow: hidden;
}

.header #nav {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
}

#about {
	margin-top: 150px;
}

.portrait {
	width: 150px;
	height: 150px;
	border-radius: 25%;
}

#work {

}

#footer {

}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
	float: left;
	padding: 10px;
}

a {
	display: block;
	text-decoration: none;
}

h1 {
	font-weight: normal;
	font-family: 'Pontano Sans', sans-serif;
}

h1 strong {
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Amaranth', sans-serif;
}